---
import config from "@/config/config.json";
import { Image } from "astro:assets";
const {  showText } = Astro.props;
const {
  logo,
  logo_text,
  logo_width,
  logo_height,
  title,
}: {
  logo: string;
  logo_text: string;
  logo_width: string;
  logo_height: string;
  title: string;

} = config.site;

const text = logo_text;
---

<a href="/" class="navbar-brand flex flex-row items-center">
  {
    logo ? (
      <Image
        class="h-9 w-auto"
        src={logo}
        alt={title}
        width={Number(logo_width)}
        height={Number(logo_height)}
      />
    ) : (
      <svg
        width="50"
        height="42"
        viewBox="0 0 50 42"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <g filter="url(#filter0_d_4_5446)">
          <mask
            id="path-1-outside-1_4_5446"
            maskUnits="userSpaceOnUse"
            x="3"
            y="3"
            width="24"
            height="34"
            fill="black"
          >
            <rect fill="white" x="3" y="3" width="24" height="34" />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M26 6.00019C25.2791 5.53069 24.4943 5.13936 23.6456 4.8262C22.1676 4.2754 20.5579 4 18.8165 4C16.08 4 13.5923 4.6717 11.3534 6.01511C9.11445 7.34509 7.32915 9.19899 5.99749 11.5768C4.66583 13.9547 4 16.7221 4 19.8791C4 23.0361 4.63656 25.8237 5.90969 28.2418C7.18281 30.66 8.93153 32.5542 11.1558 33.9244C13.3801 35.2947 15.9118 35.9866 18.7507 36C20.7701 36 22.5262 35.6709 24.0188 35.0126C24.7354 34.6996 25.3958 34.335 26 33.9188V24.9928C25.878 25.1585 25.7518 25.3213 25.6212 25.4811C24.9773 26.2737 24.231 26.9118 23.3822 27.3955C22.5335 27.8791 21.5969 28.1209 20.5726 28.1209C19.358 28.1209 18.2824 27.7649 17.3459 27.0529C16.4093 26.3275 15.6776 25.3401 15.1508 24.0907C14.6386 22.8279 14.3826 21.3837 14.3826 19.7582C14.3826 18.1864 14.6313 16.796 15.1289 15.5869C15.641 14.3778 16.3727 13.4307 17.3239 12.7456C18.2897 12.047 19.4677 11.6977 20.8579 11.6977C21.9554 11.6977 22.9213 11.9194 23.7554 12.3627C24.5895 12.806 25.2992 13.4173 25.8846 14.1965C25.9235 14.2462 25.962 14.2963 26 14.3468V6.00019Z"
            />
          </mask>
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M26 6.00019C25.2791 5.53069 24.4943 5.13936 23.6456 4.8262C22.1676 4.2754 20.5579 4 18.8165 4C16.08 4 13.5923 4.6717 11.3534 6.01511C9.11445 7.34509 7.32915 9.19899 5.99749 11.5768C4.66583 13.9547 4 16.7221 4 19.8791C4 23.0361 4.63656 25.8237 5.90969 28.2418C7.18281 30.66 8.93153 32.5542 11.1558 33.9244C13.3801 35.2947 15.9118 35.9866 18.7507 36C20.7701 36 22.5262 35.6709 24.0188 35.0126C24.7354 34.6996 25.3958 34.335 26 33.9188V24.9928C25.878 25.1585 25.7518 25.3213 25.6212 25.4811C24.9773 26.2737 24.231 26.9118 23.3822 27.3955C22.5335 27.8791 21.5969 28.1209 20.5726 28.1209C19.358 28.1209 18.2824 27.7649 17.3459 27.0529C16.4093 26.3275 15.6776 25.3401 15.1508 24.0907C14.6386 22.8279 14.3826 21.3837 14.3826 19.7582C14.3826 18.1864 14.6313 16.796 15.1289 15.5869C15.641 14.3778 16.3727 13.4307 17.3239 12.7456C18.2897 12.047 19.4677 11.6977 20.8579 11.6977C21.9554 11.6977 22.9213 11.9194 23.7554 12.3627C24.5895 12.806 25.2992 13.4173 25.8846 14.1965C25.9235 14.2462 25.962 14.2963 26 14.3468V6.00019Z"
            fill="url(#paint0_linear_4_5446)"
          />
          <path
            d="M23.6456 4.8262L23.2964 5.76325L23.2994 5.76436L23.6456 4.8262ZM26 6.00019H27V5.45807L26.5457 5.16223L26 6.00019ZM11.3534 6.01511L11.8641 6.87487L11.8679 6.8726L11.3534 6.01511ZM5.99749 11.5768L6.86998 12.0655L6.86998 12.0654L5.99749 11.5768ZM5.90969 28.2418L6.79454 27.7759L6.79454 27.7759L5.90969 28.2418ZM11.1558 33.9244L11.6803 33.073L11.6803 33.073L11.1558 33.9244ZM18.7507 36L18.746 37H18.7507V36ZM24.0188 35.0126L23.6186 34.0962L23.6153 34.0976L24.0188 35.0126ZM26 33.9188L26.5673 34.7423L27 34.4442V33.9188H26ZM26 24.9928H27V21.9478L25.1947 24.4L26 24.9928ZM25.6212 25.4811L24.8467 24.8484L24.845 24.8506L25.6212 25.4811ZM17.3459 27.0529L16.7335 27.8435L16.7407 27.849L17.3459 27.0529ZM15.1508 24.0907L14.224 24.4666L14.2294 24.4792L15.1508 24.0907ZM15.1289 15.5869L14.208 15.1968L14.2041 15.2064L15.1289 15.5869ZM17.3239 12.7456L17.9084 13.557L17.91 13.5559L17.3239 12.7456ZM23.7554 12.3627L23.2861 13.2457L23.2861 13.2457L23.7554 12.3627ZM25.8846 14.1965L25.0851 14.7971L25.0912 14.8052L25.0974 14.8132L25.8846 14.1965ZM26 14.3468L25.2008 14.9479L27 17.3402V14.3468H26ZM23.2994 5.76436C24.0816 6.053 24.799 6.41144 25.4543 6.83816L26.5457 5.16223C25.7591 4.64995 24.9069 4.22572 23.9918 3.88803L23.2994 5.76436ZM18.8165 5C20.4511 5 21.9412 5.25819 23.2964 5.76324L23.9948 3.88915C22.3941 3.29261 20.6648 3 18.8165 3V5ZM11.8679 6.8726C13.9438 5.62701 16.2522 5 18.8165 5V3C15.9079 3 13.2409 3.71639 10.8389 5.15763L11.8679 6.8726ZM6.86998 12.0654C8.11992 9.83354 9.78343 8.11082 11.8641 6.87486L10.8427 5.15536C8.44547 6.57935 6.53838 8.56444 5.12499 11.0882L6.86998 12.0654ZM5 19.8791C5 16.8658 5.63435 14.2718 6.86998 12.0655L5.12499 11.0882C3.69731 13.6375 3 16.5783 3 19.8791H5ZM6.79454 27.7759C5.60802 25.5223 5 22.8991 5 19.8791H3C3 23.1731 3.6651 26.1251 5.02483 28.7077L6.79454 27.7759ZM11.6803 33.073C9.61567 31.8011 7.98825 30.0432 6.79454 27.7759L5.02483 28.7077C6.37738 31.2767 8.24739 33.3072 10.6313 34.7758L11.6803 33.073ZM18.7554 35C16.0836 34.9874 13.7349 34.3387 11.6803 33.073L10.6313 34.7758C13.0254 36.2507 15.7399 36.9858 18.746 37L18.7554 35ZM23.6153 34.0976C22.2762 34.6882 20.6633 35 18.7507 35V37C20.8769 37 22.7761 36.6536 24.4223 35.9276L23.6153 34.0976ZM25.4327 33.0953C24.8844 33.473 24.2805 33.8071 23.6186 34.0962L24.419 35.929C25.1904 35.5921 25.9072 35.197 26.5673 34.7423L25.4327 33.0953ZM27 33.9188V24.9928H25V33.9188H27ZM26.3956 26.1138C26.5368 25.941 26.6733 25.7649 26.8053 25.5857L25.1947 24.4C25.0827 24.5521 24.9668 24.7015 24.8468 24.8484L26.3956 26.1138ZM23.8773 28.2643C24.8385 27.7166 25.6789 26.996 26.3973 26.1116L24.845 24.8506C24.2757 25.5515 23.6234 26.1071 22.8871 26.5266L23.8773 28.2643ZM20.5726 29.1209C21.7618 29.1209 22.8703 28.8381 23.8773 28.2643L22.8871 26.5266C22.1967 26.92 21.4321 27.1209 20.5726 27.1209V29.1209ZM16.7407 27.849C17.8572 28.6978 19.147 29.1209 20.5726 29.1209V27.1209C19.569 27.1209 18.7076 26.832 17.9511 26.2568L16.7407 27.849ZM14.2294 24.4792C14.8132 25.8637 15.6425 26.9984 16.7335 27.8435L17.9582 26.2623C17.1761 25.6565 16.5421 24.8164 16.0723 23.7021L14.2294 24.4792ZM13.3826 19.7582C13.3826 21.4882 13.6552 23.0637 14.2241 24.4665L16.0775 23.7148C15.6221 22.5921 15.3826 21.2792 15.3826 19.7582H13.3826ZM14.2041 15.2064C13.6479 16.5579 13.3826 18.0817 13.3826 19.7582H15.3826C15.3826 18.2911 15.6147 17.034 16.0536 15.9674L14.2041 15.2064ZM16.7394 11.9342C15.6224 12.7388 14.7829 13.84 14.2081 15.1968L16.0497 15.977C16.4992 14.9157 17.1231 14.1227 17.9084 13.557L16.7394 11.9342ZM20.8579 10.6977C19.2934 10.6977 17.9013 11.0938 16.7378 11.9353L17.91 13.5559C18.6781 13.0002 19.642 12.6977 20.8579 12.6977V10.6977ZM24.2247 11.4797C23.2243 10.948 22.0925 10.6977 20.8579 10.6977V12.6977C21.8184 12.6977 22.6183 12.8908 23.2861 13.2457L24.2247 11.4797ZM26.6841 13.5958C26.0136 12.7033 25.1924 11.994 24.2247 11.4797L23.2861 13.2457C23.9866 13.6181 24.5849 14.1313 25.0851 14.7971L26.6841 13.5958ZM26.7992 13.7458C26.7572 13.69 26.7147 13.6346 26.6717 13.5797L25.0974 14.8132C25.1323 14.8577 25.1667 14.9026 25.2008 14.9479L26.7992 13.7458ZM27 14.3468V6.00019H25V14.3468H27Z"
            fill="white"
            mask="url(#path-1-outside-1_4_5446)"
          />
        </g>
        <g filter="url(#filter1_d_4_5446)">
          <path
            d="M46.0002 3.99948C46.0002 3.99948 35 30.2927 28.4999 34.4151C21.9999 38.5375 19 36.9916 19 36.9916C19 36.9916 22.6675 32.8447 26.3337 25.1275C29.9999 17.4102 31.6666 5.67494 37.5002 3.99948C40.6978 3.08109 46.0002 3.99948 46.0002 3.99948Z"
            fill="url(#paint1_linear_4_5446)"
          />
          <path
            d="M46.0002 3.99948C46.0002 3.99948 35 30.2927 28.4999 34.4151C21.9999 38.5375 19 36.9916 19 36.9916C19 36.9916 22.6675 32.8447 26.3337 25.1275C29.9999 17.4102 31.6666 5.67494 37.5002 3.99948C40.6978 3.08109 46.0002 3.99948 46.0002 3.99948Z"
            stroke="white"
          />
        </g>
        <g filter="url(#filter2_d_4_5446)">
          <path
            d="M46.0003 35.4836C46.0003 35.4836 35 10.74 26.3338 5.57924C17.6676 0.418495 20 4.02025 20 4.02025C20 4.02025 22.6676 6.62266 26.3338 14.3441C30 22.0655 31.6667 33.8072 37.5003 35.4836C40.6979 36.4025 46.0003 35.4836 46.0003 35.4836Z"
            fill="url(#paint2_linear_4_5446)"
          />
          <path
            d="M46.0003 35.4836C46.0003 35.4836 35 10.74 26.3338 5.57924C17.6676 0.418495 20 4.02025 20 4.02025C20 4.02025 22.6676 6.62266 26.3338 14.3441C30 22.0655 31.6667 33.8072 37.5003 35.4836C40.6979 36.4025 46.0003 35.4836 46.0003 35.4836Z"
            stroke="white"
          />
        </g>
        <defs>
          <filter
            id="filter0_d_4_5446"
            x="0"
            y="1"
            width="30"
            height="40"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="1" />
            <feGaussianBlur stdDeviation="1.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_4_5446"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_4_5446"
              result="shape"
            />
          </filter>
          <filter
            id="filter1_d_4_5446"
            x="15.1998"
            y="1.09125"
            width="34.5037"
            height="40.6843"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="1" />
            <feGaussianBlur stdDeviation="1.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_4_5446"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_4_5446"
              result="shape"
            />
          </filter>
          <filter
            id="filter2_d_4_5446"
            x="16.2144"
            y="0.297699"
            width="33.5034"
            height="40.0944"
            filterUnits="userSpaceOnUse"
            color-interpolation-filters="sRGB"
          >
            <feFlood flood-opacity="0" result="BackgroundImageFix" />
            <feColorMatrix
              in="SourceAlpha"
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
              result="hardAlpha"
            />
            <feOffset dy="1" />
            <feGaussianBlur stdDeviation="1.5" />
            <feComposite in2="hardAlpha" operator="out" />
            <feColorMatrix
              type="matrix"
              values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0"
            />
            <feBlend
              mode="normal"
              in2="BackgroundImageFix"
              result="effect1_dropShadow_4_5446"
            />
            <feBlend
              mode="normal"
              in="SourceGraphic"
              in2="effect1_dropShadow_4_5446"
              result="shape"
            />
          </filter>
          <linearGradient
            id="paint0_linear_4_5446"
            x1="35.7991"
            y1="4"
            x2="35.7991"
            y2="36"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#199AFC" />
            <stop offset="1" stop-color="#1D5682" />
          </linearGradient>
          <linearGradient
            id="paint1_linear_4_5446"
            x1="34.4167"
            y1="34.4021"
            x2="34.4167"
            y2="5.03083"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1D5682" />
            <stop offset="1" stop-color="#199AFC" />
          </linearGradient>
          <linearGradient
            id="paint2_linear_4_5446"
            x1="34.4167"
            y1="5.06444"
            x2="34.4167"
            y2="34.4517"
            gradientUnits="userSpaceOnUse"
          >
            <stop stop-color="#1D5682" />
            <stop offset="1" stop-color="#199AFC" />
          </linearGradient>
        </defs>
      </svg>
    )
  }

  {
    showText != false && (
      <p class="hidden md:block text-text md:text-3xl font-bold ml-2">
        {text ? text : logo_text}
      </p>
    )
  }
</a>
