version: 2

updates:
  - package-ecosystem: "npm"
    open-pull-requests-limit: 20
    directories:
      - "application/"
      - ".github/actions/**/*"
    versioning-strategy: increase
    schedule:
      interval: "weekly"
    groups:
      npm-development-dependencies:
        dependency-type: "development"
      npm-astro-dependencies:
        patterns:
          - "@astrojs/*"
          - "@astrolib/*"
          - "astro"
          - "astro-*"
      npm-tailwind-dependencies:
        patterns:
          - "@tailwindcss/*"
          - "tailwindcss"
          - "tailwind-*"
      npm-react-dependencies:
        patterns:
          - "react"
          - "react-*"
      npm-fontsource-variable-dependencies:
        patterns:
          - "@fontsource-variable/*"

  - package-ecosystem: github-actions
    open-pull-requests-limit: 20
    directories:
      - "/"
      - "/.github/actions/**/*"
    schedule:
      interval: weekly
    groups:
      github-actions-dependencies:
        patterns:
          - "*"

  - package-ecosystem: "devcontainers"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: weekly

  - package-ecosystem: "docker"
    open-pull-requests-limit: 20
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      docker-dependencies:
        patterns:
          - "*"
