---
import { SITE } from 'astrowind:config';
import { Image } from 'astro:assets';
import logo from '~/assets/images/logo.png';
---

<div class="flex items-center">
  <Image class="h-9 w-auto" src={logo} alt={SITE?.name} width={47} height={47} />
  <span
    class="self-center ml-2 rtl:ml-0 rtl:mr-2 text-2xl md:text-xl font-bold text-primary whitespace-nowrap dark:text-white font-heading"
  >
    {SITE?.name}
  </span>
</div>
