---
import PageHeader from "@/components/core/PageHeader.astro";
import Base from "@/layouts/Base.astro";
import { getEntry } from "astro:content";

const cicd = await getEntry("cicd", "index")!;
const { Content } = await cicd.render();
---

<Base>
  <section class="py-16">
    <div class="container">
      <PageHeader page_data={cicd.data} />
    </div>
    <div class="container">
      <Content />
    </div>
  </section>
</Base>
