---
export type Props = {
  type?:
    | "primary"
    | "secondary"
    | "success"
    | "danger"
    | "warning"
    | "info"
    | "light"
    | "dark";
};
const props: Props = Astro.props;
---

<span class=`badge ${props.type}`><slot /></span>
