---
import Logo from '~/components/Logo.astro';
import type { MaturityAssessmentStrings } from './types';

export interface Props {
  strings: Pick<MaturityAssessmentStrings, 'printFooterUrl'>;
}

const { strings } = Astro.props;
---

<footer class="mt-8 hidden" data-print-footer>
  <div class="flex items-center justify-between gap-4">
    <div class="scale-90 origin-left">
      <Logo />
    </div>
    <div class="text-sm font-semibold text-muted">{strings.printFooterUrl}</div>
  </div>
</footer>
