---
import { Icon } from 'astro-icon/components';
import { twMerge } from 'tailwind-merge';
import type { Item, ItemGrid as Props } from '~/types';
import Button from './Button.astro';

const { items = [], columns, defaultIcon = '', classes = {} } = Astro.props as Props;

const {
  container: containerClass = '',
  panel: panelClass = '',
  title: titleClass = '',
  description: descriptionClass = '',
  icon: defaultIconClass = 'text-primary',
  action: actionClass = '',
} = classes;
---

{items && items.length > 0 && (
    <div
      class={twMerge(
        `grid mx-auto gap-8 md:gap-y-12 ${
          columns === 4
            ? 'lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2'
            : columns === 3
              ? 'lg:grid-cols-3 sm:grid-cols-2'
              : columns === 2
                ? 'sm:grid-cols-2 '
                : ''
        }`,
        containerClass
      )}
    >
      {items.map((item: Item) => {
        const itemClasses = item.classes ?? {};

        return (
        <div class="intersect-once motion-safe:md:opacity-0 motion-safe:md:intersect:animate-fade">
          <div class={twMerge('flex flex-row max-w-md', panelClass, itemClasses?.panel)}>
            <div class="flex justify-center">
              {(item.icon || defaultIcon) && (
                <Icon
                  name={item.icon || defaultIcon}
                  class={twMerge('w-7 h-7 mr-2 rtl:mr-0 rtl:ml-2', defaultIconClass, itemClasses?.icon)}
                />
              )}
            </div>
            <div class="mt-0.5">
              {item.title && <h3 class={twMerge('text-xl font-bold', titleClass, itemClasses?.title)}>{item.title}</h3>}
              {item.description && (
                <p
                  class={twMerge(`${item.title ? 'mt-3' : ''} text-muted`, descriptionClass, itemClasses?.description)}
                  set:html={item.description}
                />
              )}
              {item.callToAction && (
                <div class={twMerge(`${item.title || item.description ? 'mt-3' : ''}`, actionClass, itemClasses?.action)}>
                  <Button variant="link" {...item.callToAction} />
                </div>
              )}
            </div>
          </div>
        </div>
        );
      })}
    </div>
  )}
