body,
html {
  overflow-x: hidden;
  font-family: 'Abel', sans-serif !important;
}

.home {
  background: $header-bg;
  background-repeat-y: no-repeat;
  background-position: 0 0;
  min-height: 733px;
  padding-top: 3em;
  // @include media-breakpoint-down(sm) {
  //   padding-top: 0px;
  //   background-position: 0 11em;
  // }
  p {
    font-size: 1.2rem;
  }
}

.main-banner {
  padding: 4.2rem 0 14rem 0;
  color: $white;
  background-size: cover;
  @media (max-width: 991px) {
    padding: 1rem;
    margin-bottom: 50px;
  }
  .banner-title {
    h3 {
      font-weight: 300;
      @include media-breakpoint-up(xl) {
        font-size: 4em;
      }
      @include media-breakpoint-up(lg) {
        font-size: 3.5em;
      }
      @include media-breakpoint-up(sm) {
        font-size: 2.5em;
      }
      @include media-breakpoint-down(sm) {
        font-size: 2em;
      }
      margin-bottom: 1em;
    }
    // @media (max-width: 991px) {
    //   width: 100%;
    //   color: #1d2026;
    // }
  }

  .banner-group-img {
    @include media-breakpoint-down(sm) {
      display: none;
    }
  }
}

section {
  padding: 120px 0 0 0;
  @media (max-width: 1024px) {
    padding: 130px 0 0 0;
  }
  @media (max-width: 991px) {
    padding: 70px 0 0 0;
  }
}

.services-box {
  padding: 10px 100px 40px 0;
  @media (max-width: 991px) {
    padding: 10px 10px 40px 0;
  }
  img {
    width: 5rem;
    height: 5rem;
  }
  &:hover {
    img {
      -webkit-filter: grayscale(100%);
      /* Safari 6.0 - 9.0 */
      filter: grayscale(100%);
      -webkit-transition: all 2s;
      -moz-transition: all 2s;
      -ms-transition: all 2s;
      -o-transition: all 2s;
      transition: all 2s;
    }
  }
}

.tick-icon {
  width: 20px;
  height: 20px;
}

.flag-icon {
  font-size: 0.7em !important;
}
