name: Common Continuous Integration tasks

on:
  workflow_call:

permissions:
  contents: read
  security-events: write
  # FIXME: This is a workaround for having workflow ref. See https://github.com/orgs/community/discussions/38659
  id-token: write

jobs:
  continuous-integration-actions:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@23af54bc615d657aa9c13c472ae701445c1811a6 # 0.17.1
    strategy:
      matrix:
        working-directory:
          - .github/actions/generate-blog-post
          - .github/actions/generate-brand-content
          - .github/actions/validate-manifest
    with:
      working-directory: ${{ matrix.working-directory }}
      build: null
      lint: false
      coverage: null
      dependency-review: false

  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@23af54bc615d657aa9c13c472ae701445c1811a6 # 0.17.1
    with:
      working-directory: application
      build: |
        {
          "artifact": ["dist"]
        }
