name: Common Continuous Integration tasks

on:
  workflow_call:
    outputs:
      build-artifact-id:
        description: "The build artifact ID"
        value: ${{ jobs.continuous-integration.outputs.build-artifact-id }}

permissions: {}

jobs:
  continuous-integration-actions:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@c61f09cd1c67a2889fbb4d16a3378fbe23a84dc9 # 0.20.5
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    strategy:
      matrix:
        working-directory:
          - .github/actions/generate-blog-post
          - .github/actions/generate-brand-content
          - .github/actions/validate-manifest
    with:
      working-directory: ${{ matrix.working-directory }}
      build: null
      lint: null
      dependency-review: false
      test: |
        {
          "coverage": null
        }

  continuous-integration:
    uses: hoverkraft-tech/ci-github-nodejs/.github/workflows/continuous-integration.yml@c61f09cd1c67a2889fbb4d16a3378fbe23a84dc9 # 0.20.5
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write
    with:
      working-directory: application
      build: |
        {
          "artifact": ["dist"]
        }
      test: |
        {
          "coverage": "codecov"
        }
