name: Internal - Main - Continuous Integration

on:
  push:
    branches: [main]
    tags: ["*"]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  ci:
    uses: ./.github/workflows/__shared-ci.yml
    secrets: inherit
    permissions:
      contents: read
      id-token: write
      packages: read
      pull-requests: write
      security-events: write

  generate-docs:
    name: Generate Documentation
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
          token: ${{ secrets.GITHUB_TOKEN }}

      - id: generate-github-actions-docs
        uses: hoverkraft-tech/ci-dokumentor@c46a1a108957237cf485103a80b060c35c7dba33 # 0.2.2
        with:
          source: |
            .github/actions/**/action.yml
            .github/workflows/update-branding-assets.yml

      - uses: actions/create-github-app-token@29824e69f54612133e76f7eaac726eef6c875baf # v2.2.1
        id: generate-token
        with:
          app-id: ${{ vars.CI_BOT_APP_ID }}
          private-key: ${{ secrets.CI_BOT_APP_PRIVATE_KEY }}

      - uses: hoverkraft-tech/ci-github-common/actions/create-and-merge-pull-request@f24ce3360a8abf9bf386a62ab13d0ae5de5f9d13 # 0.31.7
        with:
          github-token: ${{ steps.generate-token.outputs.token }}
          branch: docs/action-documentation-update
          title: "docs: update action documentation"
          body: Update action documentation
          commit-message: |
            docs: update action documentation

            [skip ci]

  deploy:
    if: github.ref_name == github.event.repository.default_branch
    name: Deploy website
    needs: ci
    runs-on: ubuntu-latest
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.url }}
    outputs:
      url: ${{ steps.deployment.outputs.url }}
    steps:
      - id: deployment
        uses: hoverkraft-tech/ci-github-publish/actions/deploy/github-pages@0.21.0
        with:
          build-path: application/dist
          build-artifact-id: ${{ needs.ci.outputs.build-artifact-id }}

  share-new-blog-posts:
    needs: deploy
    uses: ./.github/workflows/share-new-blog-posts.yml
    permissions:
      contents: read
      pages: read
    secrets: inherit
